#fd{
width:100px;
height:150px;
background-color:orange;
float:left;
}
#sd{
width:150px;
height:100px;
background-color:yellow;
float:left;
}
#td{
width:100px;
height:100px;
background-color:green;
float:left;
}
#container{
width:300px;
height:500px；
background-color:deepgray;
}
#text{
clear:both;
}