*{
margin:0px;
padding:0px;
}
.top{
witgh:100%;
height:50px;
background-color:black;
}
.top-content{
width:75%;
height:50px;
margin:0px auto;
background-color:blue;
}
.body{
margin:20px auto;
width:75%;
height:1500px;
background-color:blanchedalmond;
}
.body-img{
width:100%;
height:400px;
bakground-color:darkorange;
}
.body-content{
width:100%;
height:1100px;
background-color:yellow;
}
.body-no{
width:100%;
height:50px;
background-color:aqua;
}
.footing{
width:75%;
height:330px;
background-color:pink;
margin:0px auto;
}
.footing-content{
width:100%;
height:330px;
background-color:green;
}
.footing-subnav{
width:100%;
height:70px;
background-color:black;
}