p{
width:100px;
background-color:yellow;
}
body{
background-image:url("http://bpic.588ku.com/element_origin_min_pic/16/06/02/2357505524cc8b6.jpg!r650");
bakground-repeat:no-repeat;
background-position:center;
background-attachment:fixed;
background-size:1000px 1000px;
}